body {
    background-color: bisque;
}
h1 {
    text-align: center;
}

.navbar {
    background-color: rgb(17, 101, 24);
    margin: 0px;
    padding: 0px;
}

ul { 
    list-style-type: none;
}

img { 
    border-radius: 30px;
    width: 600px;
}

main {
    display: flex;
    
}
.box {
    display: flex;
    align-items: right;
}