* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(11, 11, 85);
    color:rgb(190, 141, 81)
}

h1 {
    display: flex;
}

.navigation {
    display: flex; 
}

.navigation ul {
    display: flex;
    list-style: none;
}
a {
    color: rgb(190, 141, 81);
}


.about-me {
    display: flex;
    background-color: rgb(190, 141, 81);

}

.about-me p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(11, 11, 85)
}

main {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(11, 11, 85);
    color: rgb(190, 141, 81)
}
.experience {
    display: flex;
    justify-content: center;
    align-items: column;

}
.experience ul {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
#github {
    flex: 2 0 0;
}

.experience li {
    flex: 1 0 0;
}
.contact-me {
    display: flex;
    justify-content: center;
    background-color: rgb(190, 141, 81);
}

.contact-me ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
