
body {
    background-color: bisque;
}

h1 {
    text-align: center;
}



.navbar ul {
    list-style: none;
    background-color: rgb(34, 65, 37);
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    float: left; 
}


img { 
    border-radius: 30px;
    width: 600px;
    padding: 15px;
}

.box {
    display: flex;
    align-items: right;
}

.navbar a {
    color: bisque;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px;

}


footer ul { 
    display: flex;
    justify-content: space-around;
    text-align: center;
}