
body {
    background-color: bisque;
   
}

h1 {
    text-align: center;
}



.navbar ul {
    list-style: none;
    background-color: rgb(34, 65, 37);
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    color: bisque; 

}

.navbar li {
    float: left; 
}

img  {
    border-radius: 15px;
}



footer ul { 
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
}
main {
    display: flex; 
    
}

.box {
    border: 2px solid;
    margin: 20px;
    padding: 15px;
    display: block;
    width: auto;
    display: flex;
    align-items: right;
    
}

#aboutMe {
    background-color: rgb(222, 170, 73);
}

#experience {
    background-color: rgb(67, 67, 184)
}

#interests {
    background-color: rgb(77, 163, 77);
}

footer {
    background-color: rgb(34, 65, 37);
    color:bisque;
}
