header {
    color: #27ea6f;
    background-color: #1e1eb0;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

nav a {
    color: #27ea6f;
    font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

h4{ 
  font-size: 20px;

}
.about-me {
  display: flex;
  justify-content: space-between;
}

.banner {
  display: flex
}

.banner img {
  width: 500px;
}

.banner p {
  font-size: 20px;
}

body {
    background-color: #544d4c;
    
  }
section{
  display: flex;
  display: inline;
}
main{
  display: flexbox;
}
.experience {
  
}


.experience ul {
  
}
.experience li{ 
  


  
}
.recent-project { 

}

.past-projects {
  
}


.contact-me {
  display: flex;
  justify-content: space-between;
}

.contact-me ul {
  display: flex;
  
}

.contact-me li{
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
    header {
      background: #544d4c;
    }
  }

@media screen and (max-width: 768px) {
    nav {
      background-color: #1e1eb0;
    }
  }
@media screen and (max-width: 576px) {
    .sample-img {
      background-color: #ea2727;
    }
  }
  